@import url(https://fonts.googleapis.com/css?family=Muli:400,300,300italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a.mobil {
    display: block;
    color: #fff;
    background-color: #000;
    text-align: center;
    padding: 7px;
    font-size: 1.7em;
}

a.mobil:active {
    background-color: #4a4a4a;
}

body {
    font-family: 'Muli', sans-serif, monospace;
    height: 100%;
}


#caja {
    margin-top: 15px;
}

#caja .caja-arriba {
    background-color: #2980b9;
    border-radius: 10px 10px 0px 0px;
    color: #fff;
    font-weight: 300;
    padding: 5px;
    padding-left: 15px;
    text-shadow: 0px 0px 1px #ddd;
}

#caja .caja-panel {
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
    padding: 15px;
    color: #333;
}

#header {
    width: 100%;
    height: 50px;
    background-color: #3498db;
    margin: 0 auto;
}

#contenedor {
    width: 100%;
    margin: 0 auto;
}

#navbar li {
    list-style: none;
}

#navbar li span {
    color: #ccc;
    cursor: pointer;
    display: block;
    padding: 10px;
    font-size: 0.8em;
    border-bottom: 1px solid #0a0a0a;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

#navbar li a {
    list-style-type: none;
    color: #ccc;
    padding: 5px;
    font-size: 0.7em;
}

#navbar li a {
    margin-left: 15px;
}

#navbar li span:hover {
    background-color: #030303;
    color: #fff;
    padding-left: 30px;
    border-left: 10px solid #eee;
}

#navbar li a.seleccionado {
    background-color: #030303;
    color: #fff;
}

#navbar li span.desplegar {
    display: block;
    padding: 7px;
}

/* Botones */

.btn-primario {
    border-radius: 8px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    background: #2177b5;
    padding: 10px;
    position: relative;
    margin-bottom: 1em;
}

.btn-primario:hover {
    transition: all .5s;
    background: #0091ff;
}

.btn-primario span a {
    list-style-type: none;
    color: #eee;
    font-size: 15px;
    margin-left: 4px;
}

.logo {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.logo a {
    font-size: 1.5em;
    color: #fff;
}

.logo a span {
    font-weight: 300;
}

.menulateral {
    width: 250px;
    height: 100vh;
    background-color: #171717;
    float: left;
}

.contenido {
    width: auto;
    margin-left: 250px;
    height: 100vh;
    background-color: #cecece;
    padding: 15px;
}

.contenido p {
    color: #424242;
    font-size: 0.73em;
}

/*Formulario empleados*/

.contenedor-formulario, 
.contenedor-tabla {
    display: flex;
}

.input-v1 {
    width: 20em;
    height: 3em;
    border: none;
}

.input-v1 {
    margin: 1em;
    padding: 1.5em;
    border-bottom: 2px solid #219fed;
}

.label-form {
    margin: 1em;
}

.input-radio {
    margin: 1em;
    width: 1.5em;
    height: 1.5em;
}

/* Tabla */

table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-of-type(odd){
    background: #ccc;
}

th {
    background: #2177B5;
    color: #eee;
    font-weight: bold;
}

td, th {
    padding: 6px;
    border: 1px solid #eee;
    text-align: left;
}

/* Ventana modal */

.open {
    align-items: center;
    -webkit-aling-items: center;
    background: rgba(0,0,0,0.7);
    display: flex;
    display: -webkit-flex;
    height: 100vh;
    position: fixed;
    transition: all .5s ease-in-out;
    justify-content: center;
    -webkit-justify-content: center;
    top: -100%;
    width: 100%;
    left: 0;
}

.open:target {
    bottom: 0;
    top: 0;
}

.open .panel-box {
    margin: auto auto;
    padding: .5em;
    position: relative;
    text-align: center;
    width: 50%;
    border-radius: 10px;
}

.close {
    display: block;
    height: 32px;
    position: absolute;
    right: 0;
    transition: all .5s ease-in-out;
    top: -10%;
    width: 32px;
    border-radius: 50%;
    background: #000;
}

.open .close:after,
.open .close:before {
    background: #e81620;
    content: "";
    display: block;
    height: 30px;
    left: 16px;
    position: absolute;
    transition: all .5s ease-in-out;
    top: 0;
    width: 2px;
}

.open .close:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(-45deg);
}

.open .close:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.open .close:hover:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(-45deg);
}

.open .close:hover:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Animaciones */



/* Media Querys */

@media only screen and (max-width: 420px) {
    .menulateral {
        width: 100%;
        height: auto;
        display: none;
    }
    
    .contenido {
        margin-left: 0px;
    }
}

@media only screen and (min-width: 420px){
    
    a.mobil {
        display: none;
    }
    
    .menulateral {
        height: 100vh;
        display: block;
    }
}

@media screen and (max-width: 760px), 
(min-device-width: 768px) and (max-device-width: 1024px){
    table, thead, tbody, th, td, tr {
        display: block;
    }
    
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    tr {
        border: 1px solid #ccc;
    }
    
    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    
    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    
    td:nth-of-type(1):before {
        content: "Primer Apellido";
    }
    td:nth-of-type(2):before {
        content: "Segundo Apellido";
    }
    td:nth-of-type(3):before {
        content: "Nombre (s)";
    }
    td:nth-of-type(4):before {
        content: "R.F.C";
    }
    td:nth-of-type(5):before {
        content: "Curp";
    }
    td:nth-of-type(6):before {
        content: "Edad";
    }
    td:nth-of-type(7):before {
        content: "Sexo";
    }
    td:nth-of-type(8):before {
        content: "Fecha de ingreso";
    }
    td:nth-of-type(9):before {
        content: "Acción";
    }
}